{
    "presets": [
        "@babel/env",
        "@babel/typescript",
        "@babel/react"
    ],
    "plugins": [
        ["@pika/web/assets/babel-plugin.js"],
        "@babel/proposal-class-properties",
        "@babel/proposal-object-rest-spread"
    ]
}